@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
  height: 100%;
  width: 100%;
  position: absolute;
}
input {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50px;
  width: 80%;
  bottom: 15px;
  left: 15px;
}
button {
  min-width: 100px;
}
.Btn {
  left: 89%;
  right: 10px;
  bottom: 15px;
  width: 10%;
  min-width: min-content;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  background-color: lightseagreen;
  color: azure;
}

.Btn:hover {
  background-color: seagreen;
}
#room {
  padding: 0px 30px;
  background-color: lightseagreen;
  display: flex;
}
i {
  align-items: center;
  margin: auto 0;
}
h1 {
  margin: 20px;
}
#in {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
#message-container {
  width: 93%;
  margin: auto;
}
#message-container > div {
  padding: 10px 15px;
  margin: 15px 0px;
  border-radius: 50px;
  background-color: lightseagreen;
  border-radius: 20px;
  width: max-content;
}
#cui {
  color: lightslategray;
  width: 93%;
  margin: auto;
}